.searchPage {
    text-align: left;
    width: 100%;
    height: auto;
}
.titles{
    margin-left: 110px;

}
.Dropdown {
    text-align: right;
}
.searchedResults {
    display: flex;
    flex-wrap: wrap;
}