
.Homepage {
    width: 100%;
    height: auto;
    background-color: aqua;
}

.Welcome {
    
    height: 1700px;
    background-color: yellow;
} 

.up {
    display: flex;
    padding:50px;
    height: 700px;
}

.up h3 {
    font-size: 40px;
}
.left  {
    width: 45%;
    text-align: left;
    display: flex;
    flex-direction: column;
     align-items: flex-start;
     justify-content: flex-end;
     padding-right: 200px;
}

.left button {
    margin-top: 150px
}
.right {
    width: 50%;
}

.up img {
    width: 95%;
    height: 95%;
}

.down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}