
.Homepage {
    width: 100%;
    height: auto;
    background-color: aqua;
}

.Welcome {
    
    height: 1850px;
    background-color: yellow;
} 

.up {
    display: flex;
    padding:50px;
    height: 800px;
}

.up h3 {
    font-size: 40px;
    margin-top: 200px;
}
.left  {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     padding-right: 200px;
}

.left button {
    margin-top: 150px
}
.right {
    width: 50%;
}

.up img {
    width: 85%;
    height: 85%;
}

.down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.left button {
    background-color: orange;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px; 
}