.Welcome {
    
    height: 1500px;
    background-color: yellow;
} 

.up {
    display: flex;
    
    height: 450px;
}

.up img {
    width: 400px;
    height: 400px;
}

.down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}